<html>
<head>
    <meta charset="UTF-8">
    <title>View Image Info [loading...]</title>
    <link rel="stylesheet" href="/style/style.css" />
</head>
<body>
    <table>
        <tbody>
            <tr>
                <td id="loc"></td>
                <td><img src="/img/loading-s.gif" /></td>
            </tr>
            <tr>
                <td id="dims"></td>
                <td><img src="/img/loading-s.gif" /></td>
            </tr>
            <tr>
                <td id="ftype"></td>
                <td><img src="/img/loading-s.gif" /></td>
            </tr>
            <tr>
                <td id="fsize"></td>
                <td><img src="/img/loading-s.gif" /></td>
            </tr>
            <tr>
                <td id="altTitleStr"></td>
                <td><img src="/img/loading-s.gif" /></td>
            </tr>
            <tr>
                <td id="prev"></td>
                <td><img src="/img/loading-s.gif" /></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
<script type="text/javascript" src="/js/vii.js"></script>
